body{
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  font-family: Nunito, sans-serif;
  margin: 0;
  box-sizing: border-box;
  color: rgb(82, 95, 127);
}

section{
  padding: 25px;
  width: calc(100vw - 50px);
}

#albums, #photos{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  height: 250px;
  background-color: rgba(200, 200, 200, 0.75);
  padding-inline-start:0;
}

.album, .photo{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo img, .album img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  opacity: 0.9;
}

.photo img:hover, .album img:hover {
  opacity: 1;
  cursor: pointer;
}

.photo figcaption, .album figcaption{
  font-weight: 600;
}

